---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import About from '../components/About.astro';
import Values from '../components/Values.astro';
import Reasons from '../components/Reasons.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="TU LATIDO DIGITAL | Impulso Digital Disruptivo y Empático">
  <Navigation />
  
  <main>
    <Hero />
    <Services />
    <Testimonials />
    <About />
    <Values />
    <Reasons />
    <Contact />
  </main>
  
  <Footer />
</Layout> 